<form id="msg" class="form-inline" action="/add" method="post">
    <div class = "input-append">
        <input type="text" placeholder="Введите ваше сообщение здесь..." name="peach" style="width: 165%; height: 30px;" required>
        <button class="btn btn-primary" type="submit" onclick="fClear()">Отправить</button>
    </div>
</form>