<div class="form-signin">
    <form action="/auth" method="post">
        <h3 class="form-signin-heading">Вход</h3>
        <input type="text" class="input-block-level" placeholder="Логин" name="login" required>
        <input type="password" class="input-block-level" placeholder="Пароль" name="password" required>
        <div>
            <div style="float: left">
                <button class="btn btn-primary" type="submit">Вход</button>
            </div>
    </form>
            <div style="float: right">
                    <a class="btn btn-warning" style="margin-bottom: 15px;" href="/regist">Регистрация</a>
            </div>
            <br>
        </div>
</div>